@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.top-nav {
  background-color: #5164a9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 100px;
  padding: 1em;
  z-index: 100;
}

.top-nav img {
  max-width: 150px;
}

.orange {
  height: 20px;
  background-color:#e67f62;
}

.purple {
  height: 10px;
  background-color:#5164a9;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0 1.25em 0;
  z-index: 1;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

ul li {
  padding: 0 .5em;
}

span {
  margin: auto;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

section.intro img {
  max-width: 25em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-banner {
  width: 100%;
  height: 40vh;
  background-color: #000;
  background-image: url("../images/pencils.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-banner-contact {
  width: 100%;
  height: 40vh;
  background-color: #000;
  background-image: url("../images/toys.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: space-around;
  max-width: 400px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  line-height: 1.5;
  padding: 0rem 2rem;
  margin: 0;
}

p {
  padding: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  padding: 1em;  
  line-height: 0;
}

.review-heading {
  background-color: #E5E5DE;
}

.review-heading h2 {
  margin: auto;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0rem 2rem 2rem 2rem;
  gap: 0.5em;
  background-color: #E5E5DE;
}

.reviews p {
  max-width: 400px;
}

.bottom {
  height: 20vh;
  width: 100%;
  background-color: #000;
  background-image: url("../images/crayons.jpg");
  background-size: cover;
  background-position: bottom;
}

.intro p {
  max-width: 500px;
}

p {
  margin: 1em;
}

.about-hero { 
  height: 50vh;
  width: 100%;
  background-color: #000;
  background-image: url("../images/cars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

blockquote p {
  margin: 0;
}

footer {
  height: 105px;
  background-color: #5164a9;
  color: #FFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 30px 0px 0px;
  align-items: baseline;
  list-style-type: none;
}

footer p {
  text-align: right;
  margin: 0;
}

footer i {
  font-size: 30px;
  margin: 10px 20px;
  color: #E8EEF2;
}

footer ul {
  list-style: none;
  display: inline-flex;
}

.cards {
  display: grid;
  margin: 0;
  padding: 2rem 2rem;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cards article {
  text-align: center;
  display: flex;
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.cards article h2 {
  position: absolute;
  align-self: center;
  color: #FFF;
  background-color: #5164a9;
}

.cards img {
  height: 100%;
  object-fit: cover;
}

form {
  margin-bottom: 0;
  margin: auto;
}
 
 input[type=text]{
   display: inline-block;
   border: none;
   text-align: left;
   box-shadow: 3px 2px #e67f62;
   padding: 10px;
   width: 350px;
   margin: 10px 0;
   background: transparent;
 }
 
 input[type=text]:focus{
   background: none;
   border: none;
 }
 
 button {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #e67f62;
  background-color: #e67f62;
  color: #FFF;
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid #FFF;
}

.contact button {
  margin-top: 3rem;
  max-width: fit-content;
}
 
 button:hover{
   background-color: #FFF;
   color: #000;
   border: 2px solid  #5164a9;
 }

@media (max-width: 38em) {

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #e67f62;;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
} 

/* tablet */
@media only screen and (min-width: 38em) {

  .top-nav img {
    max-width: 200px;
  }
  
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .intro {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  blockquote {
    margin: 0;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    /* i think the first item is growing faster */
    padding: 0rem 2rem 2rem 2rem;
    gap: 0.5em;
    background-color: #E5E5DE;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* desktop */
@media only screen and (min-width: 60em) {
  
  h1 {
    font-size: 70px;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
