
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap');

  html {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    color: #222;

    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }

  /* nav is hidden in mobile */
  /* nav {
  display: none;
  } */

  input.nav-toggle {
    display: none;
  }

  input.nav-toggle:checked ~ nav {
    display: block;
  }

  label.nav-toggle-label {
    display: block;
  }

  .hero-banner {
    width: 100%;
    height: 40vh; /* */
    background-color: #000;
    background-image: url("../images/pencils.jpg");
    /* background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    background-size: cover;
    filter: grayscale(60%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-family: 'Lobster', cursive;
    line-height: 1.5;
  }

  nav .p {
    margin: 0;
    padding-left: 0;
    align-content: center;
  }

  nav {
    background-color: #5164a9;
  }

  /* /e67f62 */
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    padding: 1.25em 0 1.25em 0;
  }
  
  nav ul li {
    padding: 0 .5em;
  }
  
  nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section.intro img {
    max-width: 20em;
  }

  .reviews div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottom {
    height: 20vh; /* */
    background-color: #000;
    background-image: url("../images/crayons.jpg");
    background-position: center center;
  }

  footer {
    background-color: #5164a9;
  }

  .cards {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }

  /* Use this styling for anything above 768px*/
@media screen and (min-width: 768px) {
  /*  make the input hidden on screens above 768px (desktop and tablet) */
    input.nav-toggle {
      display: none;
    }

  /*  make the label hidden on screens above 768px (desktop and tablet) */
  label.nav-toggle-label {
    display: none;
  }
/*  display the nav  on screens above 768px (desktop and tablet) */
  nav {
    display: block;
  }
}


  